/* container
----------------------------------------------- */

/* border radius - border-radius--*
----------------------------------------------- */
.border-radius--5 { border-radius: 5px !important; }
.border-radius--8 { border-radius: 8px !important; }
.border-radius--10 { border-radius: 10px !important; }
.border-radius--12 { border-radius: 12px !important; }
.border-radius--15 { border-radius: 15px !important; }
.border-radius--20 { border-radius: 20px !important; }
.border-radius--50 { border-radius: 50px !important; }

/* box shadow - box-shadow--*
----------------------------------------------- */
.box-shadow--4 { box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05) !important; }
.box-shadow--5 { box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) !important; }
.box-shadow--10 { box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important; }
.box-shadow--30 { box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1) !important; }

/* overflow - overflow-*
----------------------------------------------- */
.overflow-hidden { overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }



.main--container {
	overflow-x: auto; width: 100%;
}

.relative {
	position: relative;
}

.z-index-1 {
	z-index: 1;
}

.z-index-2 {
	z-index: 2;
}

.width--100 {
	width: 100%;
	max-width: 100%;
}

.height-auto {
	height: auto !important;
}

.overflow-y {
	overflow-y: auto; width: 100%;
}

.text--ellipsis {
	max-width: 100px;
	min-width: 100%;
}

.swipeout .swipeout-left, .swipeout .swipeout-right {
    align-items: center;
}

.pull-down-container {
    width: 100%;
}