/*=================================================================================
|                                   Typography                                    |
=================================================================================*/

/* font weight - font-weight-*
----------------------------------------------- */
.font-weight-regular { font-weight: normal; }
.font-weight-semibold { font-weight: 600; }
.font-weight-bold { font-weight: bold; }


/* font size - font-size-*
----------------------------------------------- */
.font-size-default { font-size: 16px; }
.font-size-largest { font-size: 25px; }
.font-size-larger { font-size: 20px; }
.font-size-large { font-size: 18px; }
.font-size-small { font-size: 14px; }
.font-size-smaller { font-size: 12px; }
.font-size-smallest { font-size: 10px; }


/* font styles - font-*
----------------------------------------------- */
.font-italic { font-style: italic; }


/* text decoration - text-decoration-*
----------------------------------------------- */
.text-decoration-underline { text-decoration: underline; }

