/*=================================================================================
|                                    VARIABLES                                    |
=================================================================================*/

//Primary Colors
$color-primary1: #FABF24;			//Yellow
$color-primary2: #DA8924;			//Dark Yellow
$color-primary3: #FCCA46;			//Dull Yellow

$color-doc-primary1: #27AE60;			//Green
$color-doc-primary2: #3B823E;			//Dark Green
$color-doc-primary3: #9AE181;			//Dull Green

// Trinity Care
$clr-care-primary1: #FABF24;			//Yellow
$clr-care-primary2: #DA8924;			//Dark Yellow
$clr-care-primary3: #FCCA46;			//Dull Yellow

// Trinity Doc
$clr-doc-primary1: #27AE60;			//Green
$clr-doc-primary2: #3B823E;			//Dark Green
$clr-doc-primary3: #9AE181;			//Dull Green

// Trinity Team
$clr-team-primary1: #EB5757;			//Red
$clr-team-primary2: #751B13;			//Dark Red
$clr-team-primary3: #FCDFDB;			//Dull Red

//Secondary Colors
$color-white: #FFFFFF;				//
$color-black: #000;				//
$color-darkerGray: #444444;			//Default Black Title Text
$color-gray: #A8A8A8;				//
$color-lighterGray: #989898;		//Default Black Text
$color-lightestGray: #F6F6F6;		//
$color-red: #D52E29;				//
$color-green: #408c45 ;				//
$color-green2: #3b823e;
$color-blue: #00B2FF;				//

//Font Family
$font-primary: 'Asap';	//General Text

//Font Size
// $font-size-default: 14px;		//14px	//Default, Button, Paragraph, H4
// $font-size-largest: 26px;		//26px	//H1
// $font-size-larger: 22px;		//22px	//H2
// $font-size-large: 16px;			//16em	//H3
// $font-size-small: 12px;			//12px	//H5
// $font-size-smaller: 10px;		//10px	//H6

$font-size-default: 16px;		//16px	//Default, Button, Paragraph, H4
$font-size-largest: 25px;		//25px	//H1
$font-size-larger: 20px;		//20px	//H2
$font-size-large: 18px;			//16px	//H3
$font-size-small: 14px;			//14px	//H5
$font-size-smaller: 12px;		//12px	//H6
$font-size-smallest: 10px;		//10px	//H6

//Border-Radius
$border-radius-default: 15px;    //Dialog

//<i class="fas fa-check mr-1"></i>
//<i class="fas fa-times mr-1"></i>